<footer>
    <div class="social">
        <i class="ri-instagram-fill"></i>
        <i class="ri-facebook-box-fill"></i>
        <i class="ri-linkedin-box-fill"></i>
    </div>
    <div class="copy">
     &copy; Wanderlust Private Limited
    </div>
    <div class="info">
        <a href="/privacy">Privacy</a>
        <a href="/term">Terms</a>
    </div>
</footer>